# Day 2 DIY

## Q1. Problem Statement: The Percentage Calculator

Write a Python program that takes marks as input for six subjects, with <br>
maximum marks being 600, and prints total marks, average marks, and <br>
percentages obtained by a student.

Declare a nested list with Exam scores and Student names as shown here -
"score=[[510, 'John'],[280, 'Lucy']……]".Write a Python program 
to sort the list based on scores and print the students' names with first and 
second-highest scoresscores

In [1]:
print("Enter the marks of all 6 subjects one by one:")
subject_marks = []
for x in range(6):
    marks = float(input(f"Enter marks for subject {x+1}: "))
    subject_marks.append(marks)
print(subject_marks)
print("Total marks obtained:",sum(subject_marks))
print("Average Marks Obtained:", sum(subject_marks)/len(subject_marks))

Enter the marks of all 6 subjects one by one:

Enter marks for subject 1:  50
Enter marks for subject 2:  60
Enter marks for subject 3:  70
Enter marks for subject 4:  80
Enter marks for subject 5:

ValueError: could not convert string to float: ''

## Q2. Problem Statement: The Percentage Calculator

Declare a nested list with Exam scores and Student names as shown here -
"score=[[510, 'John'],[280, 'Lucy']……]".Write a Python program 
to sort the list based on scores and print the students' names with first and 
second-highest scores

In [35]:
#exam list with scores
score = [[558, "Vishal"], [255, 'Vinay'], [65, 'Harshit'], [664, 'Jay'], [55, 'Sachin']]

#sort list in descending order
score.sort(key=lambda x: x[0], reverse=True)

#Print the first and second highest scores
print("Student with highest marks is: ", score[0][1])
print("Student with the second highest marks is: ", score[1][1])

Student with highest marks is:  Jay
Student with the second highest marks is:  Vishal