# Q1. Problem Statement: Measures of Central Tendency- I  
Write a Python program to declare a 1-D array. With the help of the statistics 
library, calculate the Mean, Median, and Mode. 
Note: You can write any data of your choice inside the array

In [11]:
#import the relevant libraries
import numpy as np
import scipy as stats
from statistics import mode

#A program using a loop to get a list of values as our data
def Get_Central_Tendencies():
    y = int(input(f"Enter the number of values: "))
    data = []
    for x in range(y):
        value = float(input(f"Enter value {x+1}: "))
        data.append(value)
    print("The Array is ",data)
    
    mean_value = np.mean(data)
    print("Mean of the Array is: ", mean_value)
    
    median_value = np.median(data)
    print("Median of the Array is: ", median_value)
    
    mode_value = mode(data)
    print("Mode of the Array is: ", mode_value)
    return

In [12]:
Get_Central_Tendencies()

Enter the number of values:  5
Enter value 1:  10
Enter value 2:  20
Enter value 3:  20
Enter value 4:  30
Enter value 5:  50

The Array is  [10.0, 20.0, 20.0, 30.0, 50.0]
Mean of the Array is:  26.0
Median of the Array is:  20.0
Mode of the Array is:  20.0

# Q2. Problem Statement: Measures of Central Tendency- II 
Write a Python program to declare a DataFrame as shown in the dataset section 
below and calculate the Mean, Median, and Mode of the entire DataFrame. 
Note: You can write any data of your choice inside the DataFrame

In [20]:
#getting the data to be used in this analysis
data1 = {
    'Apple':[10, 7, 55, 15, 7, 5],
    'Orange':[20, 14, 15, 14, 1, 4],
    'Banana':[30, 21, 8, 1, 1, 9],
    'Pear':[40, 28, 12, 8, 8, 2]
}
index_labels = ['bag1', 'bag2', 'bag3', 'bag4', 'bag5', 'bag6']
df1 = pd.DataFrame(data1)

df1.index = index_labels
df1

      Apple  Orange  Banana  Pear
bag1     10      20      30    40
bag2      7      14      21    28
bag3     55      15       8    12
bag4     15      14       1     8
bag5      7       1       1     8
bag6      5       4       9     2

In [28]:
#Calculating the mean
print('Calculating the Mean')
print('Apple',df1.Apple.mean())
print('Orange',df1.Orange.mean())
print('Banana',df1.Banana.mean())
print('Pear',df1.Pear.mean())
print(df1.columns.mean())

Calculating the Mean
Apple 16.5
Orange 11.333333333333334
Banana 11.666666666666666
Pear 16.333333333333332

AttributeError: 'Index' object has no attribute 'mean'

In [26]:
#Calculating the median
print('Calculating the Median')
print('Apple',df1.Apple.median())
print('Orange',df1.Orange.median())
print('Banana',df1.Banana.median())
print('Pear',df1.Pear.median())

Calculating the Median
Apple 8.5
Orange 14.0
Banana 8.5
Pear 10.0

In [27]:
#Calculating the median
print('Calculating the Mode')
print('Apple',df1.Apple.mode())
print('Orange',df1.Orange.mode())
print('Banana',df1.Banana.mode())
print('Pear',df1.Pear.mode())

Calculating the Mode
Apple 0    7
Name: Apple, dtype: int64
Orange 0    14
Name: Orange, dtype: int64
Banana 0    1
Name: Banana, dtype: int64
Pear 0    8
Name: Pear, dtype: int64